{% extends 'base.html'%}
{% load static %}
{% block title%}Product{% endblock %}


{% block content %}
<div class="container py-5">
  <div class="row mt-5">
    <div class="col-10 mx-auto col-md-6 my-3">
      <img src="{% static 'img/product-2.png' %}" alt="">
    </div>
    <div class="col-10 mx-auto col-md-6 my-3">
    <div>
    <h1 class="product_title"> HTC One</h1>
    <h5 class="text-info font-italic mb-3">
      <span class="mr-1">$</span>300</h5>
    <p class="product_description">Product Description</p>
    <p class="text-justify product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Blandit massa enim nec dui. Tempus iaculis urna id volutpat lacus
       laoreet non. </p>
       <p class="text-justify product_text"><b>Out of Stock</b></p>
  </div>
</div>
</div>
{% endblock %}
